@import url('https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans');


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .project {
    scrollbar-width: auto;
    scrollbar-color: #009999 #fdfdfd;
  }

  /* Chrome, Edge, and Safari */
  .project::-webkit-scrollbar {
    width: 10px;
  }

  .project::-webkit-scrollbar-track {
    background: #fdfdfd;
  }

  .project::-webkit-scrollbar-thumb {
    background-color: #151616;
    border-radius: 10px;
    border: 4px solid #fff;
  }


:root{
  --white-dark: #fdfdfd;
}


body {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(180deg, rgba(21,21,22,1) 0%, rgba(12,12,11,1) 100%);
  color: #fdfdfd;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    overflow: hidden;
  }
}

.container {
  height: 100vh;
}

/*--------------------------------------------------------------
En-tête
--------------------------------------------------------------*/

.name__title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.job__title {
  /* font-family: "josefin sans", sans-serif; */
  font-size: 24px;
  color: #959598;
}

@media screen and (min-width: 768px) {
  .name__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .job__title {
    font-size: 40px;
    /* font-family: "josefin sans", sans-serif; */
  }
}

a {  
  text-decoration: none;
}

/*--------------------------------------------------------------
STORY TELLING
--------------------------------------------------------------*/

.story__telling {
  max-width: 350px;
  box-shadow: 0px 2px 30px #000;
  transform: rotate(-4deg);
}


/*--------------------------------------------------------------
PROJET
--------------------------------------------------------------*/

.number__list {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: linear-gradient(145.01deg, rgba(0,178,178,1) 16.55%, rgba(0,164,164,1) 39.82%, rgba(0,153,153,1) 62.38%, rgba(38,101,95,1) 85.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.number__align {
  letter-spacing: 3px;
}

.title__list {
  padding-left: 2.5vw;
}

a span.title__list {
  color: #fdfdfd;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
  display: inline-block;
  line-height: 1.50;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.project {  
  position: fixed;
  right: 50px;
  bottom: 0;
  height: 90vh;
  overflow-y: scroll;
  background-color: var(--white-dark);
  transform: translateY(108%) rotate(25deg);
  transform-origin: top left;
  transition: transform .6s var(--ease-in-out-cubic);
  width: 50vw;
  z-index: 3;
  transition: all .3s ease;
  padding: 3em;
  max-height: 100vh;
  opacity: 1;
}

.js-animation-hover-project{
  transform: translateY(66%) rotate(19deg);
}
.js-animation-click-project{
  transform: translateY(0) rotate(0);
}

.projects .item__project a span{
  transition: color .2s ease;
}

.projects .item__project.hover-link a span{
  color: #fdfdfd !important;
}

.projects .item__project.hover-active-link a .number__list{
  background-blend-mode: luminosity;
}

.projects .item__project.hover-active-link a span{
  color: #959598 !important;
}

@media screen and (max-width: 768px) {
  .project{
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .project{
    right: 0;
    top: 0;
    height: 100%;
  }
}

.project .close svg{
  fill: #151616;
}

.project .close{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.number__card {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: linear-gradient(145.01deg, rgba(0,178,178,1) 16.55%, rgba(0,164,164,1) 39.82%, rgba(0,153,153,1) 62.38%, rgba(38,101,95,1) 85.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px){
  .number__card {
    font-size: 30px;
  }  
}

.title__card {
  color: #151616;
  font-size: 24px;
}

.subtitle__card {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #151616;
  font-size: 14px;
  margin-bottom: 20px;
}

.content__card {
  color: #151616;
  font-size: 14px;
}

.content__card a {
  color: #151616 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited .btn:first-child:hover {
  background-color: #009999 !important;
  border: #009999;
}

.content__button {
  color: #fdfdfd;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .title__card {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .subtitle__card {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .content__card {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
Contact
--------------------------------------------------------------*/

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.social-links a {
  position: relative;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .social-links {
    justify-content: center;
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/

.credits {
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0 0 0;
  text-align: left;
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .credits {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Cursor
--------------------------------------------------------------*/

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #009999;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fdfdfd;
  /* opacity: .3; */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 9999;
  mix-blend-mode: difference;
}

.hover {
  background: linear-gradient(45deg,rgba(0,178,178,1), rgba(0,164,164,1), rgba(0,153,153,1), rgba(38,101,95,1));
  opacity: 0.25;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

@media only screen and (max-width: 912px) {
  .cursor {
    display: none;
  }
}

@media only screen and (max-width: 912px) {
  .cursor2 {
    display: none;
  }
}

 
 
body.project-open .layout__black:before
{
  content: '';
  background: rgba(0,0,0,.75);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  }

