@import url('https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans');
@import "https://raw.githubusercontent.com/twbs/bootstrap/v4-dev/scss/bootstrap.scss";

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(21,21,22);
  background: linear-gradient(180deg, rgba(21,21,22,1) 0%, rgba(12,12,11,1) 100%);
  color: #fdfdfd;
  height: 100vh;
  overflow: hidden;
}

/*--------------------------------------------------------------
En-tête
--------------------------------------------------------------*/

.name__title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.job__title {
  font-family: "josefin sans", sans-serif;
  font-size: 24px;
}

.gradient-text{
  transition: background-color 1s ease;
}

.active-gradient{
    background: linear-gradient(45deg, #F3BD41, #902C96, #F3BD41, #902C96);
    background-size: 400% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: GradientBreathe 2.42s linear infinite;
    -moz-animation: GradientBreathe 2.42s linear infinite;
    animation: GradientBreathe 2.42s linear infinite;
}

    @-webkit-keyframes GradientBreathe {
        0%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientBreathe {
        0%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientBreathe { 
        0%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }


@media screen and (min-width: 768px) {
  .name__title {
      font-size: 40px;
    }
  }

@media screen and (min-width: 768px) {
  .job__title {
      font-size: 40px;
      font-family: "josefin sans", sans-serif;
      }
    }

/*--------------------------------------------------------------
STORY TELLING
--------------------------------------------------------------*/

.story__telling {
  transition: box-shadow .3s ease-out;
}

/*--------------------------------------------------------------
PROJET
--------------------------------------------------------------*/

.number__list {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: linear-gradient(145.01deg, #F3BD41 16.55%, #D96039 39.82%, #AC3C6D 62.38%, #902C96 85.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #fdfdfd !important;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
}

/*--------------------------------------------------------------
Contact
--------------------------------------------------------------*/

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links .contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151516;
  color: #fdfdfd;
  line-height: 1;
  margin-right: 8px;
  width: 20px;
}

.social-links .contact__icon:hover {
  border-radius: 50%;
  width: 40px;
  height:40px;
  background: linear-gradient(145.01deg, #F3BD41 16.55%, #D96039 39.82%, #AC3C6D 62.38%, #902C96 85.29%);
}

.icon__border__mail::before {
  background-image: url(./images/bg-social-1);
}

.icon__border__linkedin::before {
  background-image: url(./images/bg-social-1);
}

.icon__border__behance::before {
  background-image: url(./images/bg-social-1);
}

.icon__border__insta::before {
  background-image: url(./images/bg-social-1);
}

.icon__border__twitter::before {
  background-image: url(./images/bg-social-1);
}

@media screen and (max-width: 992px) {
  .social-links {
    justify-content: center;
    padding: 10px;
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/

.credits {
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0 0 0;
  text-align: right;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .credits {
    text-align: center;
  }
}
